<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dejliglama.dk" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Åben og Rolig</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<plugin name="onesignal-cordova-plugin" spec="2.0.11" />
    <content src="index.html" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <platform name="android">
		<preference name="KeepRunning" value="true"/>
        <allow-intent href="market:*" />
        <icon qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
        <icon qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
        <icon qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
        <icon qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
        <icon qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
        <icon qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>
        <splash qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png"/>
        <splash qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png"/>
        <splash qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png"/>
        <splash qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png"/>
    </platform>
    <platform name="ios">
		<preference name="KeepRunning" value="true"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
         <icon src="res/icons/ios/Icon.png" width="57" height="57" />
        <icon src="res/icons/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/Icon@2x.png" width="114" height="114" />
        <icon src="res/icons/ios/Icon-72@2x.png" width="144" height="144" />
        <icon src="res/icons/ios/" width="76" height="76"/>
        <icon src="res/icons/ios/Icon-120.png" width="120" height="120"/>
        <icon src="res/icons/ios/Icon-152.png" width="152" height="152"/>
        <icon src="res/icons/ios/Icon-180@3x.png" width="180" height="180" />
        <icon src="res/icons/ios/Icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/Icon-120.png" width="120" height="120" />
        <icon src="res/icons/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/Icon-152.png" width="152" height="152" />
        <icon src="res/icons/ios/Icon-29.png" width="29" height="29" />
        <icon src="res/icons/ios/Icon-58.png" width="58" height="58" />
        <icon src="res/icons/ios/Icon-40.png" width="40" height="40" />
        <icon src="res/icons/ios/Icon-80.png" width="80" height="80" />
        <!-- Splash -->
        <splash src="res/screens/ios/Default-iphone.png" width="320" height="480" />
        <splash src="res/screens/ios/Default@2x-iphone_640x960.png" width="640" height="960" />
        <splash src="res/screens/ios/Default-568h@2x-iphone_640x1136.png" width="640" height="1136" />
        <splash src="res/screens/ios/Default-750@2x-iphone6-portrait_750x1334.png" width="750" height="1334" />
        <splash src="res/screens/ios/Default-1242@3x-iphone6s-portrait_1242x2208.png" width="1242" height="2208" />
        <splash src="res/screens/ios/Default-Portrait-ipad_768x1024.png" width="768" height="1024" />
        <splash src="res/screens/ios/Default-Portrait@2x-ipad_1536x2048.png" width="1536" height="2048" />
        <splash src="res/screens/ios/Default-1242@3x-iphone6s-landscape_2208x1242.png" width="2208" height="1242" />
        <splash src="res/screens/ios/Default-Landscape-ipad_1024x748.png" width="1024" height="768" />
        <splash src="res/screens/ios/Default-Landscape@2x-ipad_2048x1536.png.png" width="2048" height="1536" />
    </platform>
</widget>
